<!DOCTYPE html>
<html>
<head>
  <title>CarDataDashboard</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render "partials/sidenav" %>
<%= render "partials/topnav" %>

<%= yield %>

<%= render "partials/footer" %>
<%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>

</body>
</body>
</html>
